// General ALl Purpose Typograpghy
// Adjust file if you want different effects
// and styles on heading, paragraphs, links, buttons,
// and other shit.

// Heading
h1{
	margin: 10px 0px;
	font-family: $header-font-family;
	color:$header-font-color;
	font-weight: 500;
	line-height: 20px;
	text-rendering: optimizelegibility;
	font-size:38px;
	line-height: 40px;
	small{
		font-weight: normal;
		line-height: 1;
		color: #999999;
		font-size:26px;
	}
}
h2{@extend h1;font-size:30px;line-height: 32px;small{font-size:18px;}}
h3{@extend h1;font-size:24px;line-height: 26px;small{font-size:16px;}}
h4{@extend h1;font-size:18px;line-height: 20px;small{font-size:14px;}}
h5{@extend h1;font-size:14px;line-height: 16px;small{font-size:12px;}}
h6{@extend h1;font-size:10px;line-height: 12px;small{font-size:8px;}}

// Paragraphs
p{
	display:block;
	padding:0px 0px $paragraph-bottom-pad 0px;
	color:$paragraph-font-color;
}
// HR Line
hr{
	display: block;
	border:none;
	height:1px;
	width:100%;
	background:#e9e9e9;
}

// Text ALign
.text-align-right{text-align:right;}
.text-align-left{text-align:left;}
.text-align-center{text-align:center;}

// Tags
.ctag{
	display:inline-block;
	background:#f2f2f2;
	@include border-radius-equal(3px);
	border:1px solid #e0e0e0;
	font-size:inherit;
	line-height: 1;
	color:#556270;
	padding:3px 5px;
	letter-spacing:.5px;
}

// Abbreviations
abbr{
	cursor:help;
}

// Code Blocks
pre{
	display:block;
	@include border-radius-equal(5px);
	background:#fafafa;
	border:1px solid #cdcdcd;
	padding:10px;
	font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
	font-size: 12px;
	line-height: 1.5;

}

address{
	font-style: normal;
}

// Blockquotes
blockquote{
	margin:10px 0px;
	padding:10px 10px 10px 0px;
	text-align: right;
	// Text
	p{
		font-style: italic;
		font-weight: normal;
		padding:0px;
		margin:0px;
		&:before{content:'“';display:inline-block;font-style: normal;font-weight:bolder;margin-right:5px;}
		&:after{content:'”';display:inline-block;font-style: normal;font-weight:bolder;margin-left:5px;}
	}
	// Quote Sayer
	span{
		display:inline-block;
		color:#a1a4aa;
		font-size:12px;
		&:before{content:"-";display:inline-block;margin-right:5px;}
	}
}