// Import Global Variables 
@import "modules/variables";
// Import Mixins
@import "modules/mixins";
// Import Fonts
@import "modules/googlefonts";
// Reset CSS
@import "plugins/normalize";
// Begin Sheet
html{
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	box-sizing: border-box; // Box Sizing Fix
}
// Box Sizing Fix
*, *:before, *:after {
  box-sizing: inherit;
}
// Body
body {
  margin: 0;
  font-family:$global-font-family;
  font-size:$global-font-size;
  line-height:$global-line-height;
  color:$global-font-color;
  background-color:$global-site-background-colour;
  background-image:url("../img/_web/bg2.png");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  &.intro-pg-body{
  	background:#f1f3f3;
  }
}

// Global Site Colour
a {
  color:$global-link-colour;
  text-decoration: none;
  &:hover{text-decoration:underline;}
}
// Site Width
.site-width{
	max-width:$site-container-max-width;
	width:$site-container-width;
	padding:0px $site-container-padding;
	margin:0 auto;
}
// Begin importing the asdfasdasdasdmain Adder Files
	@import "adder/grid";							// Grid System
	@import "adder/typography";						// Typography
	@import "adder/buttons";						// Font Awesome
	@import "adder/misc";							// Misc
// Optional Files & Plugins
	@import "font-awesome/font-awesome.scss";		// Font Awesome
	@import "plugins/magnific";						// Magnific Popup
	@import "plugins/dropdown";						// Dropdowns
	@import "plugins/carousel";						// Carousel
	@import "plugins/animate";						// Carousel
// Main Styles for your website 
	@import "mywebsite";							// Your CSS file