//------------------------------------\\
//	#Clearfix
//------------------------------------\\

%clearfix{
	@include clearfix;
}

//------------------------------------\\
//	#Disable Highlight
//------------------------------------\\

%disable-highlight{
	@include disable-highlight;
}

//------------------------------------\\
//	#List Reset
//------------------------------------\\

%list-reset{
	@include list-reset;
}

//------------------------------------\\
//	#Content Box
//------------------------------------\\

%content-box{
	@include content-box;
}

//------------------------------------\\
//	#Vertical Align
//------------------------------------\\

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}